name: build-modpack

on: [push]

jobs:
  build-pack:
    name: Use packwiz to build the curseforge pack
    runs-on: ubuntu-latest

    steps:

      - name: Checkout Repo
        uses: actions/checkout@v4
      
      - name: Setup Go environment
        uses: actions/setup-go@v5.0.0
        with: 
          go-version: '>=1.19.0'
      
      - name: Install Packwiz
        run: go install github.com/packwiz/packwiz@latest

      - name: Build pack
        run: packwiz curseforge export
      
      - name: Upload pack to actions
        uses: actions/upload-artifact@v3
        with:
          name: Artifacts
          path: GregTech CEu Modern Community Pack-*.zip